@import "../styles/_variables.scss";

.productPageContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  // border: 1px solid red; //debug
  .productDetails {
    // text-align: right;
    padding: 2.5vmax 4.25vmax;
    margin-right: 3.25vmax;
    // border: 1px solid green; //debug
  }
  .gallery {
    display: flex;
    flex-direction: column;
    max-width: 37.5vmax;
    max-height: 37.5vmax;
    overflow-y: scroll;
    img {
      margin: 0;
    }
  }
}
@media (max-width: $tablet-bp) {
  .productPageContainer {
    .productDetails {
      margin-right: 5vmax;
    }
    .gallery {
      max-width: 40vmax;
      max-height: 40vmax;
    }
  }
}
@media (max-width: $mobile-bp) {
  .productPageContainer {
    flex-direction: column-reverse;
    justify-content: flex-start;
    .productDetails {
      // text-align: right;
      padding: 2.5vmax 0;

      // border: 1px solid green; //debug
    }
    .gallery {
      overflow-y: hidden;
      flex-direction: row;
      max-width: 90vw;
      max-height: 90vw;
      /* Hide scrollbar for IE, Edge and Firefox */
      // -ms-overflow-style: none; /* IE and Edge */
      // scrollbar-width: none; /* Firefox */
      img {
        min-width: 100%;
      }
    }
    // .gallery::-webkit-scrollbar {
    //   /* Hide scrollbar for Chrome, Safari and Opera */
    //   display: none;
    // }
  }
}
