@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700;900&display=swap");
.parent.dark {
  background: #2b2b2b;
}

.parent.dark h1,
.parent.dark h2,
.parent.dark h3,
.parent.dark h4,
.parent.dark p,
.parent.dark a,
.parent.dark ul,
.parent.dark ol,
.parent.dark i,
.parent.dark path {
  color: #fcfcfc;
}

.parent.dark #mobileNav div {
  background: #7664d0 !important;
}

.parent.dark #ProductListing div section:nth-of-type(2) h1 {
  border-bottom: #7664d0 2px solid;
}

.parent.dark header nav a:hover {
  color: #7664d0 !important;
}

.parent.dark header nav a:hover i,
.parent.dark header nav a:hover path,
.parent.dark header nav a:hover p {
  color: #7664d0 !important;
}

.parent.dark .snipcart-add-item {
  background: #7664d0 !important;
}

.parent.dark .snipcart-add-item:hover {
  background: #6c55df !important;
}

.productPageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productPageContainer .productDetails {
  padding: 2.5vmax 4.25vmax;
  margin-right: 5vmax;
}

.productPageContainer .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 37.5vmax;
  max-height: 37.5vmax;
  overflow-y: scroll;
}

.productPageContainer .gallery img {
  margin: 0;
}

@media (max-width: 1023px) {
  .productPageContainer .gallery {
    max-width: 40vmax;
    max-height: 40vmax;
  }
}

@media (max-width: 480px) {
  .productPageContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .productPageContainer .productDetails {
    padding: 2.5vmax 0;
  }
  .productPageContainer .gallery {
    overflow-y: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 90vw;
    max-height: 90vw;
    /* Hide scrollbar for IE, Edge and Firefox */
  }
  .productPageContainer .gallery img {
    min-width: 100%;
  }
}
/*# sourceMappingURL=ProductPage.module.css.map */