@import "_variables.scss";

$secondary-clr: $lightpink;
$tertiary-clr: $lightpurple;

.parent.dark {
  background: #2b2b2b;
  h1,
  h2,
  h3,
  h4,
  p,
  a,
  ul,
  ol,
  i,
  path {
    color: #fcfcfc;
  }
  #mobileNav {
    div {
      //coloring from burger nav
      background: $darkmode-primary-clr !important;
      // border: 1px solid red; //debug
    }
  }

  #ProductListing {
    div {
      section:nth-of-type(2) {
        h1 {
          border-bottom: $darkmode-primary-clr 2px solid;
        }
      }
    }
  }
  header {
    nav {
      a:hover {
        color: $darkmode-primary-clr !important;
        i,
        path,
        p {
          color: $darkmode-primary-clr !important;
        }
      }
    }
  }
  .snipcart-add-item {
    // border: 1px solid red; //debug
    background: $darkmode-primary-clr !important;
  }
  .snipcart-add-item:hover {
    background: saturate($darkmode-primary-clr, 15%) !important;
    // border: 1px solid green; //debug
  }
  // border: 1px solid green; //debug
  footer {
    color: #fcfcfc;
  }
}
