// This file handles global variables
// Here is the fastest way to change fonts, colors etc...

//fonts
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700;900&display=swap");

$font-heading: "Quicksand", sans-serif;
$font-subheading: "Karma", serif;
$font-body: "Maven Pro", sans-serif;

//colors
$purple: #3a2a8a;
$lightpink: #ddbdf2;
$lightpurple: #aa89d9;
$darkpurple: #09064c;

$primary-clr: $purple;
$secondary-clr: $lightpink;
$tertiary-clr: $lightpurple;
$dark-primary-clr: lighten($primary-clr, 35%);

$white: #fcfcfc;

$text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

//viewport breakpoints
$desktop-bp: 1024px;
$tablet-bp: 1023px;
$mobile-bp: 480px;
