@import "_variables.scss";
@import "_stylesDark.scss";

.Footer {
  // border: 1px solid red; //debug
  max-width: 80vw;
  margin: 0 auto;
  padding: 2.5vh 0;
}
@media (max-width: $mobile-bp) {
  .Footer {
    max-width: 92%;
  }
}

// /* The emerging W3C standard
//    that is currently Firefox-only */
// * {
//   scrollbar-width: thin;
//   scrollbar-color: blue orange;
// }
//
// /* Works on Chrome/Edge/Safari */
// *::-webkit-scrollbar {
//   width: 12px;
// }
// *::-webkit-scrollbar-track {
//   background: orange;
// }
// *::-webkit-scrollbar-thumb {
//   background-color: blue;
//   border-radius: 20px;
//   border: 3px solid orange;
// }
