@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700;900&display=swap");
.Header {
  background: rgba(240, 240, 240, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.25vmin;
  padding-bottom: 0;
  -webkit-box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.125);
          box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.125);
}

.Header .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5vmin 0;
  width: 80vw;
}

.Header .headerContent .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.Header .headerContent .logoContainer .logo {
  min-width: 4.25vmax;
  width: 4.25vmax;
  height: 4.25vmax;
  max-width: 4.25vmax;
}

@media (max-width: 1023px) {
  .Header .headerContent .logoContainer .logo {
    min-width: 7.5vmax;
    width: 7.5vmax;
    height: 7.5vmax;
    max-width: 7.5vmax;
  }
}

@media (max-width: 480px) {
  .Header .headerContent .logoContainer .logo {
    min-width: 8vmax;
    width: 8vmax;
    height: 8vmax;
    max-width: 8vmax;
  }
}

.Header .headerContent nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Header .headerContent nav .mobileNav {
  display: none;
}

.Header .headerContent nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
}

.Header .headerContent nav ul li {
  margin: 0;
}

.Header .headerContent nav ul li a {
  padding: 0.25vmin 1.1vmax;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.Header .headerContent nav ul li a:hover {
  color: #533dc4;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.Header .headerContent nav ul li a:hover i,
.Header .headerContent nav ul li a:hover path,
.Header .headerContent nav ul li a:hover p {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #533dc4;
}

@media (max-width: 480px) {
  .Header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .Header .headerContent {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .Header .headerContent nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .Header .headerContent nav .navList {
    display: none;
  }
  .Header .headerContent nav .mobileNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 7.5vmax;
    width: 7.5vmax;
    margin-right: 2.5vmax;
    background: none;
    border: 0;
  }
  .Header .headerContent nav .mobileNav div {
    width: 65%;
    height: 6.5%;
    border-radius: 20%;
    background: #3a2a8a;
  }
  .Header .headerContent nav .mobileNav div:nth-of-type(even) {
    margin: 1.25vmax 0;
  }
}

.mobileOverlay {
  width: 100%;
  height: 0;
  display: none;
  background: rgba(58, 42, 138, 0.875);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.mobileOverlay ul {
  min-height: 25vmax;
  margin-top: -15vmax;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobileOverlay ul li {
  width: 100vw;
  margin-left: -2.5rem;
  margin-bottom: 2.5vmax;
  padding: 0.5vmax 0;
}

.mobileOverlay ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 2.5rem;
}

.mobileOverlay .exitBtn {
  color: #f0f0f0;
  background: none;
  border: 0;
  font-size: 4.25rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2.5vmax;
}
/*# sourceMappingURL=Header.module.css.map */