@import "_variables.scss";
@import "_stylesDark.scss";

.Header {
  // color: $white;
  background: rgba(240, 240, 240, 0.05); //slightly brighten header
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.25vmin;
  padding-bottom: 0;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.125);
  // border: 1px solid red; //debug
  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vmin 0;
    width: 80vw;
    .moon {
    }
    @media (max-width: $mobile-bp) {
      .moon {
        // border: 1px solid red; //debug
        position: absolute;
        right: 2.5vmax;
        top: 4.25vmax;
      }
    }
    // border: 1px solid green; //debug
    .logoContainer {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .logo {
        // min-width: 4.25vmax;
        // width: 4.25vmax;
        // height: 4.25vmax;
        max-width: 10vmax;
        margin: 0;
        // border: 1px solid red; //debug
      }
      @media (max-width: $tablet-bp) {
        .logo {
          // min-width: 7.5vmax;
          // width: 7.5vmax;
          // height: 7.5vmax;
          max-width: 10vmax;
        }
      }
      @media (max-width: $mobile-bp) {
        .logo {
          // min-width: 8vmax;
          // width: 8vmax;
          // height: 8vmax;
          max-width: 10vmax;
        }
      }
    }
    nav {
      display: flex;
      justify-content: space-between;
      margin: 0;
      flex-wrap: wrap;
      // border: 1px solid red; //debug

      ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        //   border: 1px solid green; //debug
        li {
          margin: 0;
          a {
            padding: 0.25vmin 1.1vmax;
            font-family: $font-heading;
            font-weight: 700;
            text-decoration: none;
            transition: color 0.2s ease-in-out;
            .snipcartSummary {
              display: none; // only appear when user hovers over the cart link
              padding: 0.25vmin 1.1vmax;
              position: fixed;
              background: #fcfcfc;
              box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.125);
              p {
                color: #212121 !important;
                font-family: $font-body;
              }
              .itemCount {
                font-weight: 400;
              }
              // border: 1px solid red; //debug
            }
          }
          a:hover {
            color: lighten($primary-clr, 15%);
            transition: color 0.2s ease-in-out;
            i,
            path,
            p {
              color: lighten($primary-clr, 15%);
              transition: color 0.2s ease-in-out;
            }
          }
        }
        li:hover .snipcartSummary {
          display: flex;
          flex-direction: column;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: $tablet-bp) {
  .Header {
    .headerContent {
      width: 90vw;
      // border: 1px solid red; //debug
    }
  }
}

@media (max-width: $mobile-bp) {
  .Header {
    // border: 1px solid red; //debug
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // flex-wrap: wrap;
    .headerContent {
      // width: auto;
      width: 100%;
      flex-direction: row-reverse;
      justify-content: flex-end;
      nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        // flex-wrap: wrap;
        // border: 1px solid green; //debug
        .navList {
          display: none;
        }
      }
    }
  }
}

.mobileOverlay {
  width: 100%;
  height: 0;
  display: none;
  background: transparentize($primary-clr, 0.125);
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  ul {
    min-height: 25vmax;
    margin-top: -15vmax;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid red; // debug
    li {
      width: 100vw;
      margin-left: -2.5rem;
      margin-bottom: 2.5vmax;
      padding: 0.5vmax 0;
      // border: 1px solid green; //debug
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: $white;
        text-decoration: none;
        font-size: 2.5rem;
        // border: 1px solid blue; //debug
      }
      .snipcartCheckoutCart {
        display: flex;
        flex-direction: column;
        // border: 1px solid blue; //debug

        .snipcartSummary {
          display: flex;
          // border: 1px solid red; //debug
          p {
            margin: 0;
          }
          p:nth-of-type(odd) {
            margin-left: 0.8rem;
          }
          p:nth-of-type(even) {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
  .exitBtn {
    color: $white;
    background: none;
    border: 0;
    font-size: 4.25rem;
    height: fit-content;
    padding: 2.5vmax;
    // border: 1px solid green; //debug
  }
}
