@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700;900&display=swap");
.parent.dark {
  background: #2b2b2b;
}

.parent.dark h1,
.parent.dark h2,
.parent.dark h3,
.parent.dark h4,
.parent.dark p,
.parent.dark a,
.parent.dark ul,
.parent.dark ol,
.parent.dark i,
.parent.dark path {
  color: #fcfcfc;
}

.parent.dark #mobileNav div {
  background: #7664d0 !important;
}

.parent.dark #ProductListing div section:nth-of-type(2) h1 {
  border-bottom: #7664d0 2px solid;
}

.parent.dark header nav a:hover {
  color: #7664d0 !important;
}

.parent.dark header nav a:hover i,
.parent.dark header nav a:hover path,
.parent.dark header nav a:hover p {
  color: #7664d0 !important;
}

.parent.dark .snipcart-add-item {
  background: #7664d0 !important;
}

.parent.dark .snipcart-add-item:hover {
  background: #6c55df !important;
}

.parent.dark footer {
  color: #fcfcfc;
}

.parent.dark .Landing section a {
  border-bottom: 5px dashed #7664d0;
}

.Landing {
  margin-bottom: 2.5vmax;
}

.Landing section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Landing section h1 {
  max-width: 75%;
}

.Landing section a {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-bottom: 5px dashed #3a2a8a;
}

.each-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.25vmax;
}

.each-slide .slideImageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3.75vmax;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.each-slide .slideImageContainer img {
  max-height: 65vh;
  min-width: 35vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.each-slide .slideDescriptionContainer {
  margin: 0 3.75vmax;
  margin-bottom: 2.5vmax;
  max-width: 25vw;
  font-style: italic;
}

@media (max-width: 480px) {
  .each-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .each-slide .slideImageContainer,
  .each-slide .slideDescriptionContainer {
    margin: 0;
  }
  .each-slide .slideImageContainer img {
    max-height: 50vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .each-slide .slideDescriptionContainer {
    max-width: 95%;
    margin-top: 1.25vmax;
  }
  .nav {
    display: none !important;
  }
}

.each-slide span {
  display: none;
}
/*# sourceMappingURL=Landing.css.map */