@import "_variables.scss";
@import "_stylesDark.scss";

.Landing {
  margin-bottom: 2.5vmax;
  // border: 1px solid red; //debug
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      max-width: 75%;
    }
    a {
      max-width: fit-content;
      border-bottom: 5px dashed $primary-clr;
    }
    a:hover {
      color: lighten($primary-clr, 15%);
    }
  }
}
.each-slide {
  display: flex;
  align-items: center;
  margin-top: 4.25vmax;

  // height: 65vh;
  // border: 1px solid blue; //debug
  .slideImageContainer {
    // max-width: 35vw;
    display: flex;
    margin-left: 3.75vmax;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
    img {
      // border: 1px solid red; //debug
      // box-shadow: -2.5vmin -4.25vmin 1px $primary-clr;
      max-height: 65vh;
      min-width: 35vw;
      object-fit: contain;
    }
  }
  .slideDescriptionContainer {
    margin: 0 3.75vmax;
    margin-bottom: 2.5vmax;
    max-width: 35vw;
    font-style: italic;
  }
}

@media (max-width: $tablet-bp) {
  .each-slide {
    .slideImageContainer {
      img {
        max-height: 35vh;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: $mobile-bp) {
  .each-slide {
    flex-direction: column;
    .slideImageContainer,
    .slideDescriptionContainer {
      margin: 0;
    }
    .slideImageContainer {
      // border: 1px solid red; //debug
      img {
        max-height: 50vh;
        width: 100%;
        object-fit: cover;
      }
    }
    .slideDescriptionContainer {
      max-width: 95%;
      margin-top: 1.25vmax;
    }
  }
  .nav {
    //the previous and next arrows
    // z-index: 5 !important; //override the default styling. makes it so that it does not overlap mobile navigation screen
    display: none !important;
  }
}

.each-slide span {
  display: none;
}
