@import "_variables.scss";

//styling for <Products /> component

.ProductCategory {
  // the heading that displays a product's cateegory, i.e. T-Shirt, Footwear
  margin: 2.5vmax 0;
}
.ProductCategory:nth-of-type(even) {
  margin-top: 3.25vmax;
}

.ProductListing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // border: 1px solid red; //debug
}

@media (max-width: $mobile-bp) {
  .ProductListing {
    justify-content: space-between;
    width: 100%;
    // border: 1px solid green; //debug
  }
}
