@import "_variables.scss";

//styling for individual product cards
.productContainer {
  flex-basis: 17.5vmax;
  background: rgba(
    250,
    250,
    250,
    0.075
  ); //brighten product card to set apart from bg
  box-shadow: 1vmin 1vmin 2.5vmax rgba(50, 50, 50, 0.125);
  // border: 1px solid red; //debug
  .upperSection {
    height: 17.5vmax;
    overflow: hidden;
    // border: 1px solid green; //debug
    .gallery {
      object-fit: cover;
    }
  }
  .lowerSection {
    min-height: 30%;
    padding: 0.8em 1.1em;
    // border: 1px solid blue; //debug
    .productModel,
    .productBrand,
    .productPrice {
      margin: 0; //reset margin inherited from global styles
    }
    .productModel {
      font-size: 1.25em;
      border-bottom: $primary-clr 2px solid;
      padding-bottom: 0.25em;
    }
    .productBrand {
      font-size: 0.9em;
      margin-bottom: 0.5em;
    }
    .productPrice {
      font-size: 1.25em;
      margin-bottom: 0;
    }
  }
}
.productContainer:nth-of-type(even) {
  margin: 0 1.25vmax;
}

@media (max-width: $tablet-bp) {
  .productContainer {
    flex-basis: 25vw;
    // border: 1px solid green; //debug
    // height: fit-content;
    .upperSection {
      height: 25vw;
    }
    .lowerSection {
      // border: 1px solid blue; //debug
      .productModel {
        font-size: 1.1em;
      }
      .productBrand {
        font-size: 0.8em;
      }
      .productPrice {
        font-size: 1.1em;
      }
    }
  }
  .productContainer:nth-of-type(even) {
    margin: 0 1.75vmax;
  }
  .productContainer:nth-of-type(3n + 1) {
    margin: 0;
    // border: 1px solid red; //debug
  }
  .productContainer:nth-of-type(n) {
    margin-bottom: 1.75vmax;
  }
}

@media (max-width: $mobile-bp) {
  .productContainer:nth-of-type(even) {
    margin: 0; //cancels out property above
  }
  .productContainer:nth-of-type(n) {
    flex-basis: 45vw;
    margin-bottom: 1.25vmax;
    // border: 1px solid blue; //debug
    .upperSection {
      height: 45vw;
    }
  }
}
