@import "_variables.scss";

//styling for <Products /> component

.ProductListing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // border: 1px solid red; //debug
}

@media (max-width: $mobile-bp) {
  .ProductListing {
    justify-content: space-between;
    width: 100%;
    // border: 1px solid green; //debug
  }
}
