@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  // min-height: 150vh; //debug
  h1 {
    font-size: 4.883rem;
    font-family: $font-heading;
    max-width: 75ch;
  }
  h2 {
    font-size: 3.906rem;
  }
  h3 {
    font-size: 3.125rem;
  }
  h2,
  h3,
  h4 {
    font-family: $font-subheading;
    max-width: 75ch;
  }
  p,
  a {
    font-family: $font-body;
    max-width: 75ch;
  }
  button {
    background: none;
    border: 0;
    cursor: pointer;
  }
}

.parent {
  background: #fcfcfc;
  min-height: 100vh;
  a {
    color: $primary-clr;
  }
  // border: 1px solid red; //debug
}
.parent.dark {
  background: #2b2b2b;
  h1,
  h2,
  h3,
  h4,
  p,
  a,
  i,
  path {
    color: #f0f0f0;
  }
  // border: 1px solid green; //debug
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid red; //debug
  .content {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    // border: 1px solid green; //debug
  }
}
